body {
    background-color: #FBF7EE;
    font-family: 'Karla', sans-serif;
}

/* ------Amina------ */









/* ------Amina------ */

/* ------Abdelghafour------ */







/* ------Abdelghafour------ */

/* ------mohamed------ */
body{
    margin: 0;
    padding: 0;
    background-color:#FBF7EE;
    font-family: 'Karla', sans-serif;
 }
 .fiche {
    min-width: 10.5%;
    padding: 0% 2%;
    padding-top: 1%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    margin: 1%;
    background-color: #FFFFFF;
    
}
.fiche:hover{
    transform: scale(1.2); 
    box-shadow: 0px 7px 19px 1px #767676;
    background-color: rgb(217, 246, 254);
}
 .fiche img{ 
        width: 45px;
        height: 45px;
        padding-left: 1px;  
}
 .fiches {
    display: flex;
    justify-content: center;
}
.fiche p{ 
    line-height: 147%;
    opacity: 0.92;
     color: #A2A2A2;
}
.fiche p b{ 
    color: #070707;
}
.fiche h1{ 
    font-size: 25px;
    line-height: 18%;
}

/* ------mohamed------ */

/* ------youssef------ */








/* ------youssef------ */