body {
    background-color: #FBF7EE;
    font-family: 'Karla', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;

}

li {
    padding-left: 16px;
}

.container {
    width: 85%;
    height: auto;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

}

.logo {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    color: #13366D;
}


.btns {
    display: flex;
    /* position: relative; */
    /* justify-content: flex-end; */
    /* flex: 1 1 0%; */
}

.try {
    font-weight: bold;
    text-decoration: none;
    /* border: 1px solid blue; */
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #0B48A8;
    color: #FBF7EE;
    box-shadow: 0px 4px 0px 0px #041c40;
}

.menu {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 4 0 0%; */
    height: 100%;
}



.Sign {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.title {
    color: #13366d;
    font-size: xxx-large;
}

.para {
    color: #a2a2a2;
}

.description {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* align-items: baseline; */
}

.left-section {
    /* padding-right: 10%; */
}

.info {
    padding-top: 20px;
    font-size: small;
    color: grey;
    display: flex;
}

.single-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    padding-right: 16px;
}

.email {
    height: 2.5rem !important;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    min-width: 250px;
    height: 30px;
    margin-right: 20px;
}

.email::placeholder {
    padding-left: 15px;
    color: #b5b5b5;
}

.img-info {
    padding-right: 8px;
}

.fiches {
    box-sizing: border-box;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.fiche {
    box-sizing: border-box;
    width: 15rem;
    padding: 1% 2%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    background-color: #FFFFFF;

}

/* .fiche:hover {
    transform: scale(1.2);
    box-shadow: 0px 7px 19px 1px #767676;
    background-color: rgb(217, 246, 254);
} */

.fiche img {
    width: 45px;
    height: 45px;
    padding-left: 1px;
}


.fiche p {
    line-height: 147%;
    opacity: 0.92;
    color: #A2A2A2;
}

.fiche p b {
    color: #070707;
}

.fiche h1 {
    font-size: 25px;
    line-height: 18%;
}

.Trsp {
    padding-left: 130px;
}

.all {
    display: flex;
    padding-left: 100px;
}

.Cards {
    display: flex;
}

.Card {
    background-color: #FFF3D9;
    border: 1px solid black;
    border-radius: 3px;
    padding: 16px;
    margin: 30px;
    margin-top: 4px;
    padding-top: 16px;
    height: 400px;
    width: 270px;
}

.Card h4 {
    background-color: #13366D;
    color: aliceblue;
    border-radius: 18px;
    margin-top: 1px;
    padding-top: 13px;
    padding-left: 12px;
    text-align: center;
    height: 12%;
    width: 60%;
}

.Card h5 {
    border: 1px solid darkblue;
    border-radius: 6px;
    padding-top: 16px;
    text-align: center;
    color: darkblue;
    box-shadow: 10px;
    height: 13%;
    width: 100%;
    /* font-family: 'Karla', sans-serif;
    font-size: 18px; */
}

.Card h5:hover {
    background-color: #0B48A8;
    color: white;
    box-shadow: 0px 4px 0px #13366D;
}

.Card h5 a {
    text-decoration: none;
    color: inherit;
}

.pric_1 {
    padding-top: 10%;
}

.pric_2 {
    padding-top: 17%;
}

.contact {
    padding-top: 37%;
}

.contact a {
    color: black;
    text-decoration: none;
}

.Ads {
    border: 1px solid black;
    padding: 16px;
    margin: 30px;
    margin-top: 4px;
    padding-top: 1px;
    height: 290px;
    width: 270px;
}

.Ads img {
    width: 100%;
}

.left-section {
    box-sizing: border-box;
    margin-left: 2rem;
}

.left-section img {
    max-width: 480px;
}

footer {
    font-size: small;
    color: gray;
    padding: 2rem 0 1rem 0;
}

/* .card h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */
.contact {
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    width: inherit;
    height: 30px;
    margin-right: 20px;
}

.contact1 {
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    width: inherit;
    /* height: 30px; */
    margin-right: 20px;
}

.contact::placeholder {
    padding-left: 15px;
    color: #b5b5b5;
}

.form {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: baseline; */
}

.input {
    width: 100%;
}

.center {
    width: 70%;
}

.main {
    background-color: white;
    padding: 4rem;
    border-radius: 3rem;
}